<div class="mainContainer">
    <div class="container">
        <h1>Information of {{vm.artist.name}}</h1>

        <p>Founded year: {{vm.artist.bornYear}}</p>
        <p>Country: {{vm.artist.country}}</p>
        <p>Hits: {{vm.artist.hits}}</p>
        <p>Albums: {{vm.artist.albums.length}}</p>
    </div>
</div>