<h1>Register</h1>

<div ng-if="vm.message" class="alert alert-success">
    {{vm.message}}
</div>
<div ng-if="vm.err" class="alert alert-danger">
    {{vm.err}}
</div>

<form name="registerForm" ng-submit="vm.register()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.user.username" autocapitalize="none" required/>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.user.name" autocapitalize="none" required/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" placeholder="Password" ng-model="vm.user.password" autocapitalize="none" required/>
    </div>
    <div class="form-group">
        <label for="repeat_password">Repeat password</label>
        <input type="text" class="form-control" id="repeat_password" placeholder="Repeat password" ng-model="vm.user.repeatPassword"
               autocapitalize="none" required/>
    </div>

    <button type="submit" class="btn btn-success" ng-disabled="registerForm.$invalid">Register</button>
</form>