<div class="container">
    <h1>{{vm.title}}</h1>

    <form name="vm.newArtistForm" ng-submit="vm.saveArtist()" ng-if="vm.isLoggedIn()">
        <div class="form-control">
            Name: <input class="form-control" type="text" ng-model="vm.newArtist.name" required/><br/>
            Founded year: <input class="form-control" type="text" name="bornYear" ng-model="vm.newArtist.bornYear" required pattern="[0-9]{4}"/>
            <span ng-if="vm.newArtistForm.bornYear.$dirty && vm.newArtistForm.rating.$invalid">Born year should be YYYY format</span>
            <br/>
            Country: <input class="form-control" type="text" name="rating" ng-model="vm.newArtist.country" required/>
            <br/>
            Hits: <input class="form-control" type="text" name="rating" ng-model="vm.newArtist.hits"/>
            <br/>
        </div>

        <div class="form-control">
            <div class="col-2">
                <button class="form-control" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>