<div class="container" ng-init="vm.loadArtists()">
    <h1>Welcome artists app</h1>

    <button class="btn btn-primary btn-sm" ng-click="vm.toAdd()" ng-if="vm.isLoggedIn()">Add</button>
    <div class="container">
        <div class="row" ng-repeat="artist in vm.artists">
            <div class="col">
                <a href="/#!/artist/{{artist._id}}">{{artist.name}} - {{artist.country}}</a>
            </div>
            <div class="col">
                <button class="btn btn-danger btn-sm my-1" ng-click="vm.delete(artist._id)" ng-if="vm.isLoggedIn()">delete</button>
                <button class="btn btn-warning btn-sm" ng-click="vm.toUpdate(artist._id)" ng-if="vm.isLoggedIn()">update</button>
            </div>
        </div>
    </div>
</div>