<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="LoginController as vm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Artists app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                <li class="nav-item" ng-class="vm.isActiveTab('')" class="active">
                    <a class="nav-link" href="/#!/">Home</a>
                </li>
                <li class="nav-item" ng-class="vm.isActiveTab('artists')">
                    <a class="nav-link" href="/#!/artists">Artists</a>
                </li>
                <li class="nav-item" ng-if="!vm.isLoggedIn()" ng-class="vm.isActiveTab('register')">
                    <a class="nav-link" href="#!/register">Register</a>
                </li>
                <li class="nav-item" ng-if="vm.isLoggedIn()" ng-class="vm.isActiveTab('profile')">
                    <a class="nav-link" href="#!/profile">Profile</a>
                </li>
            </ul>
        </div>


        <div class="col-md-6">
            <form ng-if="!vm.isLoggedIn()" class="navbar-form navbar-right d-flex" role="login" ng-submit="vm.login()">
                <div class="form-group mx-1" ng-class="{'has-error': vm.err}">
                    <input type="text" class="form-control input-sm" placeholder="Username" ng-model="vm.username" autocapitalize="none">
                </div>
                <div class="form-group mx-1" ng-class="{'has-error': vm.err}">
                    <input type="password" class="form-control input-sm" placeholder="Password" ng-model="vm.password" autocapitalize="none">
                </div>
                <button type="submit" class="btn btn-sm btn-success mx-1">Login</button>
            </form>
        </div>
        <ul ng-if="vm.isLoggedIn()" class="new navbar-nav navbar-right">
            <li>
                <p class="navbar-text">Welcome {{vm.loggedInUser}}</p>
            </li>
            <li>
                <button class="navbar-btn btn-sm btn-info" ng-click="vm.logout()">Logout</button>
            </li>
        </ul>
    </div>
</nav>